.single-item{
    box-shadow: 1px 1px 20px;
    width: 300px;
    height: 480px;
    margin: 20px;
    border-radius: 10px;
}
.image img{
    width: 300px;
    border-radius: 10px;
}
.text{
    margin-left: 5px;
}
.btn{
    margin-left: 5px;
}