.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width : 576px) {
    .items{
        grid-template-columns: repeat(1, 1fr);
    }
    .item-container{
        flex-direction: column;
    }
}

.item-container{
    display: flex;
}

.selected-items{
    background-color: blanchedalmond;
    margin-left: 20px;
    padding: 20px;
    border-radius: 10px;
    position: sticky;
    top: 0;
}
.header-text{
    display: flex;
    justify-content: center;
    color: purple;
}
.random{
    margin-left: 5px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(171, 204, 223);
    padding: 5px;
    width: 100px;
    border-radius: 10px;
}
.reset{
    margin-left: 5px;
    border: none;
    background-color: rgb(181, 213, 233);
    padding: 5px;
    width: 100px;
    border-radius: 10px;
}