.questions{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ans{
    margin: 30px 30px;
}
.react-question{
    background-color: lightcyan;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}
@media screen and (max-width : 576px) {
    .react-question{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width : 576px) {
    .props-and-state-question{
        grid-template-columns: repeat(1, 1fr);
    }
}

.props-and-state-question{
    background-color: lightcyan;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}